@model HelpMe.Models.Wallet

@{
    ViewBag.Title = "Пополнение счета";
}

<div id="titlebar" class="gradient">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h2>Пополнение счета</h2>

                <!-- Breadcrumbs -->
                <nav id="breadcrumbs" class="dark">
                    <ul>
                        <li><a href="#">Кошелек</a></li>
                        <li>Пополнение счета</li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
</div>


<!-- Content
================================================== -->
<!-- Container -->
<div class="container">
    <div class="row">
      
        <div class="col-xl-8 col-lg-8 content-right-offset">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <!-- Hedaline -->
                <h3>Ввод суммы</h3>


                <!-- Billing Cycle Radios  -->
                <div class="billing-cycle margin-top-25">
                    <div class="input-with-icon">
                        <input id="Summ" name="Summ" class="with-border" type="text" placeholder="Сумма">
                        <i class="currency">Руб</i>
                    </div>
                </div>


                <!-- Hedline -->
                <h3 class="margin-top-50">Метод оплаты</h3>

                <!-- Payment Methods Accordion -->
                <div class="payment margin-top-30">

                    <div class="payment-tab payment-tab-active">
                        <div class="payment-tab-trigger">
                            <input checked id="paypal" name="cardType" type="radio" value="paypal">
                            <label for="paypal">PayPal</label>
                            <img class="payment-logo paypal" src="https://i.imgur.com/ApBxkXU.png" alt="">
                        </div>

                        <div class="payment-tab-content">
                            <p>Вы будете перенаправлены на страницу PayPal.</p>
                        </div>
                    </div>


                    <div class="payment-tab">
                        <div class="payment-tab-trigger">
                            <input type="radio" name="cardType" id="creditCart" value="creditCard">
                            <label for="creditCart">Кредитная / Дебетовая карта</label>
                            <img class="payment-logo" src="https://i.imgur.com/IHEKLgm.png" alt="">
                        </div>

                        <div class="payment-tab-content">
                            <div class="row payment-form-row">

                                <div class="col-md-6">
                                    <div class="card-label">
                                        <input id="nameOnCard" name="nameOnCard" required type="text" placeholder="Имя владельца карты">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="card-label">
                                        <input id="cardNumber" name="cardNumber" placeholder="Номер кредитной карты" required type="text">
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="card-label">
                                        <input id="expiryDate" placeholder="Истечения срока карты" required type="text">
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="card-label">
                                        <label for="expiryDate">Год</label>
                                        <input id="expirynDate" placeholder="Год" required type="text">
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="card-label">
                                        <input id="cvv" required type="text" placeholder="CVV">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <!-- Payment Methods Accordion / End -->

                <input class="button big ripple-effect margin-top-40 margin-bottom-65" type="submit" value="Оплатить"/>
            }
        </div>
        

            <!-- Summary -->
            <div class="col-xl-4 col-lg-4 margin-top-0 margin-bottom-60">

                <!-- Summary -->
                <div class="boxed-widget summary margin-top-0">
                    <div class="boxed-widget-headline">
                        <h3>Summary</h3>
                    </div>
                    <div class="boxed-widget-inner">
                        <ul>
                            <li>Цена <span>49 рублей</span></li>
                            <li>Комиссия (20%) <span>9 рублей</span></li>
                            <li class="total-costs">Итоговая сумма (руб.) <span id="itog"></span></li>
                        </ul>
                    </div>
                </div>
                <!-- Summary / End -->
                <!-- Checkbox -->
                <div class="checkbox margin-top-30">
                    <input type="checkbox" id="two-step">
                    <label for="two-step"><span class="checkbox-icon"></span>  Я согласен <a href="#">Правила оплаты</a> и соглашаюсь <a href="#">Правила пользования</a></label>
                </div>
            </div>

        </div>
</div>

 <div id="footer">

          
<div class="footer-top-section">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">

                <!-- Footer Rows Container -->
                <div class="footer-rows-container">

                    <!-- Left Side -->
                    <div class="footer-rows-left">
                        <div class="footer-row">
                            <div class="footer-row-inner footer-logo">
                                <img src="~/Content/Custom/images/logo.png" alt="">
                            </div>
                        </div>
                    </div>

                    <!-- Right Side -->
                    <div class="footer-rows-right">

                        <!-- Social Icons -->
                        <div class="footer-row">
                            <div class="footer-row-inner">
                                <ul class="footer-social-links">
                                    <li>
                                        <a href="#" title="Facebook" data-tippy-placement="bottom" data-tippy-theme="light">
                                            <i class="icon-brand-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" title="Twitter" data-tippy-placement="bottom" data-tippy-theme="light">
                                            <i class="icon-brand-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" title="Google Plus" data-tippy-placement="bottom" data-tippy-theme="light">
                                            <i class="icon-brand-google-plus-g"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" title="LinkedIn" data-tippy-placement="bottom" data-tippy-theme="light">
                                            <i class="icon-brand-linkedin-in"></i>
                                        </a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                        </div>

                        <!-- Language Switcher -->
                        <div class="footer-row">
                            <div class="footer-row-inner">
                                <select class="selectpicker language-switcher" data-selected-text-format="count" data-size="5">
                                    <option selected>English</option>
                                    <option>Français</option>
                                    <option>Español</option>
                                    <option>Deutsch</option>
                                </select>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Footer Rows Container / End -->
            </div>
        </div>
    </div>
</div>
<!-- Footer Top Section / End -->
<!-- Footer Middle Section -->
<div class="footer-middle-section">
    <div class="container">
        <div class="row">

            <!-- Links -->
            <div class="col-xl-2 col-lg-2 col-md-3">
                <div class="footer-links">
                    <h3>Для хомячков</h3>
                    <ul>
                        <li><a href="#"><span>Рыба</span></a></li>
                        <li><a href="#"><span>Рыба</span></a></li>
                        <li><a href="#"><span>Рыба</span></a></li>
                        <li><a href="#"><span>Рыба</span></a></li>
                    </ul>
                </div>
            </div>

            <!-- Links -->
            <div class="col-xl-2 col-lg-2 col-md-3">
                <div class="footer-links">
                    <h3>Для мудакофф</h3>
                    <ul>
                        <li><a href="#"><span>Рыба</span></a></li>
                        <li><a href="#"><span>Рыба</span></a></li>
                        <li><a href="#"><span>Рыба</span></a></li>
                        <li><a href="#"><span>Рыба</span></a></li>
                    </ul>
                </div>
            </div>

            <!-- Links -->
            <div class="col-xl-2 col-lg-2 col-md-3">
                <div class="footer-links">
                    <h3>Полезное</h3>
                    <ul>
                        <li><a href="#"><span>Рыба</span></a></li>
                        <li><a href="#"><span>Рыба</span></a></li>
                        <li><a href="#"><span>Рыба</span></a></li>
                    </ul>
                </div>
            </div>

            <!-- Links -->
            <div class="col-xl-2 col-lg-2 col-md-3">
                <div class="footer-links">
                    <h3>Аккаунт</h3>
                    <ul>
                        <li><a href="#"><span>Войти</span></a></li>
                        <li><a href="#"><span>Зарегаться</span></a></li>
                    </ul>
                </div>
            </div>

            <!-- Newsletter -->
            <div class="col-xl-4 col-lg-4 col-md-12">
                <h3><i class="icon-feather-mail"></i> Подпишись чтобы получать новости</h3>
                <p>Вместо скучного поиска будешь использовать веселый.</p>
                <form action="#" method="get" class="newsletter">
                    <input type="text" name="fname" placeholder="Введите свою почту">
                    <button type="submit"><i class="icon-feather-arrow-right"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Footer Middle Section / End -->
<!-- Footer Copyrights -->
<div class="footer-bottom-section">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                © 2018 <strong>ФакАп</strong>. Все права в поряде.
            </div>
        </div>
    </div>
</div>
<!-- Footer Copyrights / End -->
</div>
<script>

 
</script>