@using PagedList
@using PagedList.Mvc
@model  IPagedList<HelpMe.Models.CustomViewModel>
@foreach (var custom in Model)
{
    <li>
        <div class="boxed-list-item">
            <!-- Content -->
            <div class="item-content">
                <h4 style="word-break:break-word;">Заказ <span>@custom.Name</span></h4>
                <div class="item-details margin-top-10">
                    <div class="detail-item"><i class="icon-material-outline-date-range"></i> @custom.StartDate.ToString("dd MMMM yyyy HH:mm:ss")</div>
                </div>
                @{
                    string customResultText = "Сделано в срок";
                    string textColour = "#28b661";
                    if (!(bool)custom.DoneInTime)
                    {
                        customResultText = "Сделано с опозданием";
                        textColour = "#de0909";
                    }
                }
                <div class="item-description">
                    <p style="color:@textColour"> @customResultText </p>
                </div>
            </div>
        </div>
    </li>
}
<!-- Pagination -->
<div class="clearfix"></div>
@if (Model.HasNextPage || Model.HasPreviousPage)
{
    <div class="pagination-container margin-top-40 margin-bottom-10">
        <nav class="pagination">
            <ul>
                @Html.PagedListPager(Model, x => Url.Action("Details",
               new
                    {
                   userName = Model.FirstOrDefault().Executor.UserName,
                   customsPaginated = true,
                   customsPage = x
               }))
            </ul>
        </nav>
    </div>
    <div class="clearfix"></div>
}
<!-- Pagination / End -->