@using HelpMe.Models
@using PagedList.Mvc;
@using HelpMe.Helpers
@model HelpMe.Models.CustomIndexViewModel

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Заказы";
}
<!-- Page Content
================================================== -->
<div class="full-page-container">

    <div class="full-page-sidebar">

        <div class="full-page-sidebar-inner" data-simplebar>
            @using (Ajax.BeginForm("CustomSearch", new AjaxOptions { UpdateTargetId = "results" }))
            {
                <div class="sidebar-container">

                    <!-- Location -->
                    <div class="sidebar-widget">
                        <h3>По названию</h3>
                        <div class="input-with-icon">
                            <div id="autocomplete-container">
                                <input id="name" name="name" type="text" placeholder="Название">
                            </div>
                            <i class="icon-material-outline-folder-shared"></i>
                        </div>
                    </div>

                    <!-- Category -->
                    <div class="sidebar-widget">
                        <h3>Дисциплина</h3>
                        <select class="selectpicker" data-live-search="true" title="Все дисциплины">
                            <option>Математик</option>
                            <option>Физик</option>
                            <option>Физрук</option>
                        </select>
                        <br />
                        <select class="selectpicker" data-live-search="true" title="Все предметы">
                            <option>Математик</option>
                            <option>Физик</option>
                            <option>Физрук</option>
                        </select>
                    </div>

                    <!-- Budget -->
                    <div class="sidebar-widget">
                        <h3>Бюджет заказа</h3>
                        <div class="margin-top-55"></div>

                        <!-- Range Slider -->
                        <input class="range-slider" type="text" value="" data-slider-currency="" data-slider-min="10" data-slider-max="2500" data-slider-step="25" data-slider-value="[50,2500]" />
                    </div>

                    <div class="clearfix"></div>

                    <div class="margin-bottom-40"></div>

                </div>
                <!-- Sidebar Container / End -->
                <!-- Search Button -->
                <div class="sidebar-search-button-container">
                    <button type="submit" class="button ripple-effect">Поиск</button>
                </div>
                <!-- Search Button / End-->
            }
        </div>

    </div>
    <!-- Full Page Sidebar / End -->
    <!-- Full Page Content -->
    <div class="full-page-content-container" data-simplebar>
        <div class="full-page-content-inner">

            <h3 class="page-title">Результаты поиска</h3>

            <div class="notify-box margin-top-15">
                <div class="switch-container">
                    <label class="switch"><input type="checkbox"><span class="switch-button"></span><span class="switch-text">Заказы без предложений</span></label>
                </div>

                <div class="sort-by">
                    <span>Сортировать по:</span>
                    <select class="selectpicker hide-tick">
                        <option>Новинкам</option>
                        <option>Старым</option>
                        <option>Любой</option>
                    </select>
                </div>
            </div>

            <!-- Tasks Container -->
            <div id="results" class="listings-container grid-layout margin-top-35">

                @foreach (var item in Model.Customs)
                {
                    <!-- Job Listing -->
                    <a href="@Url.Action("Details", new { id = item.Id })" class="job-listing">

                        <!-- Job Listing Details -->
                        <div class="job-listing-details">
                            <!-- Logo -->
                            <div class="job-listing-company-logo">
                                <img src="~/Content/Custom/images/company-logo-05.png" title="Курсовая" alt="">
                            </div>
                            
                            <!-- Details -->
                            <div class="job-listing-description">
                                <h3 class="job-listing-title">@Html.DisplayFor(modelItem => item.Name)</h3>
                                <h4 class="job-listing-company"><i class="icon-material-outline-account-circle"></i> 4 предложения </h4>
                            </div>
                        </div>

                        <!-- Job Listing Footer -->
                        <div class="job-listing-footer">
                            <span title="В избранное" class="bookmark-icon"></span>
                            <ul>
                                <li><i class="icon-material-outline-school"></i> Естественные науки - Биология</li>
                                <li><i class="icon-material-outline-date-range"></i>До 31.05.19</li>
                                <li><i class="icon-material-outline-account-balance-wallet"></i> 2000 руб.</li>
                                <li title="Дата публикации"><i class="icon-material-outline-access-time"></i>26.05.19 </li>
                            </ul>
                        </div>
                    </a>
                }
            </div>


            <!-- Tasks Container / End -->
            <!-- Pagination -->
            <div class="clearfix"></div>
            <div class="pagination-container margin-top-20 margin-bottom-20">
                <nav class="pagination">
                    <ul>
                        @if (Model.PageInfo.HasPreviousPage)
                        {
                            <li class="pagination-arrow"><a href=@Url.Action("Index", new { page = Model.PageInfo.PreviousPageIndex }) class="ripple-effect"><i class="icon-material-outline-keyboard-arrow-left"></i></a></li> 
                        }
                        @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", new { page = x }))
                        @if (Model.PageInfo.HasNextPage)
                        {
                            <li class="pagination-arrow"><a href=@Url.Action("Index", new { page = Model.PageInfo.NextPageIndex }) class="ripple-effect"><i class="icon-material-outline-keyboard-arrow-right"></i></a></li>
                        }
                    </ul>
                </nav>
            </div>
            <div class="clearfix"></div>
            <!-- Pagination / End -->
            <!-- Footer -->
            <div class="small-footer margin-top-15">
                <div class="small-footer-copyrights">
                    © 2018 <strong>Воркап</strong>. По правам все ок начальник.
                </div>
                <ul class="footer-social-links">
                    <li>
                        <a href="#" title="Фисабук" data-tippy-placement="top">
                            <i class="icon-brand-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="Твиттор" data-tippy-placement="top">
                            <i class="icon-brand-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="Google Plus" data-tippy-placement="top">
                            <i class="icon-brand-google-plus-g"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="LinkedIn" data-tippy-placement="top">
                            <i class="icon-brand-linkedin-in"></i>
                        </a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!-- Full Page Content / End -->
