@model HelpMe.Models.CustomViewModel
@using Microsoft.AspNet.Identity

@if (Model.UserId == User.Identity.GetUserId())
{
    <div class="buttons-container">
        <a style="margin-bottom:20px" href="#small-dialog-4" class="apply-now-button popup-with-zoom-anim">
            Подтвердить выполнение
            <i class="icon-material-outline-check"></i>
        </a>
        <a href="@Url.Action("Revision", "Custom", new { id = Model.Id })" class="apply-now-button">
            Отправить на доработку
            <i class="icon-material-outline-compare-arrows"></i>
        </a>
    </div>
}