@model IEnumerable<HelpMe.Models.MessageStoreViewModel>
@using Microsoft.AspNet.Identity
@foreach (var item in Model)
{
    if (item.UserFromId == User.Identity.GetUserId())
    {
            <div class="message-bubble me">
                <div class="message-bubble-inner">
                    <div class="message-avatar">
                        <img src="~/Content/Custom/images/user-avatar-small-01.jpg" alt="" />
                    </div>
                    <div class="message-text">
                        <p> @item.Description </p>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
    }
        else
    {
            <div class="message-bubble">
                <div class="message-bubble-inner">
                    <div class="message-avatar">
                        <img src="~/Content/Custom/images/user-avatar-small-01.jpg" alt="" />
                    </div>
                    <div class="message-text">
                        <p> @item.Description </p>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        }
    }

