<body>
        <!-- Header Container / End -->
        <!-- Intro Banner
        ================================================== -->
        <!-- add class "disable-gradient" to enable consistent background overlay -->
        <div class="intro-banner" data-background-image="../Content/Custom/images/home-background.jpg">
            <div class="container">

                <!-- Intro Headline -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="banner-headline">
                            <h3>
                                <strong>
                                   Интернет-биржа заказчиков и авторов студенческих работ.
                                </strong>
                                <br>
                                <span>Миллионы студентов используют <strong class="color">WorkUp</strong> для эффективной сдачи учебных работ.</span>
                            </h3>
                        </div>
                    </div>
                </div>

                <!-- Search Bar -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="intro-banner-search-form margin-top-95">

                            <!-- Search Field -->
                            <div class="intro-search-field with-autocomplete">
                                <label for="autocomplete-input" class="field-title ripple-effect">Город?</label>
                                <div class="input-with-icon">
                                    <input id="autocomplete-input" type="text" placeholder="Печатайте тут">
                                    <i class="icon-material-outline-location-on"></i>
                                </div>
                            </div>

                            <!-- Search Field -->
                            <div class="intro-search-field">
                                <label for="intro-keywords" class="field-title ripple-effect">Какой предмет вас интересует?</label>
                                <input id="intro-keywords" type="text" placeholder="Напишите предмет">
                            </div>

                            <!-- Button -->
                            <div class="intro-search-button">
                                <button class="button ripple-effect" onclick="window.location.href='jobs-list-layout-full-page-map.html'">Поиск</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Stats -->
                <div class="row">
                    <div class="col-md-12">
                        <ul class="intro-stats margin-top-45 hide-under-992px">
                            <li>
                                <strong class="counter">1,586</strong>
                                <span>Задач загружено</span>
                            </li>
                            <li>
                                <strong class="counter">3,543</strong>
                                <span>Новых пользователей</span>
                            </li>
                            <li>
                                <strong class="counter">1,232</strong>
                                <span>Исполнителей</span>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>


        <!-- Content
        ================================================== -->
        <!-- Category Boxes -->
        <div class="section margin-top-65">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">

                        <div class="section-headline centered margin-bottom-15">
                            <h3>Популярные категории работы</h3>
                        </div>

                        <!-- Category Boxes Container -->
                        <div class="categories-container">

                            <!-- Category Box -->
                            <a href="jobs-grid-layout-full-page.html" class="category-box">
                                <div class="category-box-icon">
                                    <i class="icon-line-awesome-file-code-o"></i>
                                </div>
                                <div class="category-box-counter">612</div>
                                <div class="category-box-content">
                                    <h3>Разработка ПО</h3>
                                    <p>Десктопная разработка, веб-разработка</p>
                                </div>
                            </a>

                            <!-- Category Box -->
                            <a href="jobs-list-layout-full-page-map.html" class="category-box">
                                <div class="category-box-icon">
                                    <i class="icon-line-awesome-cloud-upload"></i>
                                </div>
                                <div class="category-box-counter">113</div>
                                <div class="category-box-content">
                                    <h3>Математика</h3>
                                    <p>Высшая математика, низшая ежжи</p>
                                </div>
                            </a>

                            <!-- Category Box -->
                            <a href="jobs-list-layout-full-page-map.html" class="category-box">
                                <div class="category-box-icon">
                                    <i class="icon-line-awesome-suitcase"></i>
                                </div>
                                <div class="category-box-counter">186</div>
                                <div class="category-box-content">
                                    <h3>Гуманитарные науки</h3>
                                    <p>Русский язык, дагестанский</p>
                                </div>
                            </a>

                            <!-- Category Box -->
                            <a href="jobs-list-layout-1.html" class="category-box">
                                <div class="category-box-icon">
                                    <i class="icon-line-awesome-pencil"></i>
                                </div>
                                <div class="category-box-counter">298</div>
                                <div class="category-box-content">
                                    <h3>Рерайт и копирайт</h3>
                                    <p>Рерайт спижженова материала от братухи</p>
                                </div>
                            </a>

                            <!-- Category Box -->
                            <a href="jobs-list-layout-2.html" class="category-box">
                                <div class="category-box-icon">
                                    <i class="icon-line-awesome-pie-chart"></i>
                                </div>
                                <div class="category-box-counter">549</div>
                                <div class="category-box-content">
                                    <h3>Продажи и маркетинг</h3>
                                    <p>Маркетинг, письмо, совок</p>
                                </div>
                            </a>

                            <!-- Category Box -->
                            <a href="jobs-list-layout-1.html" class="category-box">
                                <div class="category-box-icon">
                                    <i class="icon-line-awesome-image"></i>
                                </div>
                                <div class="category-box-counter">873</div>
                                <div class="category-box-content">
                                    <h3>Графика и дизайн</h3>
                                    <p>Креативный дизайн от Петровича</p>
                                </div>
                            </a>

                            <!-- Category Box -->
                            <a href="jobs-list-layout-2.html" class="category-box">
                                <div class="category-box-icon">
                                    <i class="icon-line-awesome-bullhorn"></i>
                                </div>
                                <div class="category-box-counter">125</div>
                                <div class="category-box-content">
                                    <h3>Курсачи, дипломы</h3>
                                    <p>Аналитика от Петьки</p>
                                </div>
                            </a>

                            <!-- Category Box -->
                            <a href="jobs-grid-layout-full-page.html" class="category-box">
                                <div class="category-box-icon">
                                    <i class="icon-line-awesome-graduation-cap"></i>
                                </div>
                                <div class="category-box-counter">445</div>
                                <div class="category-box-content">
                                    <h3>Образование и шарага</h3>
                                    <p>Учись студент пока живой</p>
                                </div>
                            </a>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- Category Boxes / End -->
        <!-- Features Jobs -->
        <div class="section gray margin-top-45 padding-top-65 padding-bottom-75">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">

                        <!-- Section Headline -->
                        <div class="section-headline margin-top-0 margin-bottom-35">
                            <h3>Важные задачи</h3>
                            <a href="jobs-list-layout-full-page-map.html" class="headline-link">Глянуть все задачи</a>
                        </div>

                        <!-- Jobs Container -->
                        <div class="listings-container compact-list-layout margin-top-35">

                            <!-- Job Listing -->
                            <a href="single-job-page.html" class="job-listing with-apply-button">

                                <!-- Job Listing Details -->
                                <div class="job-listing-details">

                                    <!-- Logo -->
                                    <div class="job-listing-company-logo">
                                        <img src="~/Content/Custom/images/company-logo-01.png" alt="">
                                    </div>

                                    <!-- Details -->
                                    <div class="job-listing-description">
                                        <h3 class="job-listing-title">Сделать все по каефу ежжи</h3>

                                        <!-- Job Listing Footer -->
                                        <div class="job-listing-footer">
                                            <ul>
                                                <li><i class="icon-material-outline-business"></i> Илья <div class="verified-badge" title="Verified Employer" data-tippy-placement="top"></div></li>
                                                <li><i class="icon-material-outline-location-on"></i> Бесагон</li>
                                                <li><i class="icon-material-outline-business-center"></i> На фулл</li>
                                                <li><i class="icon-material-outline-access-time"></i> 2 дня назад</li>
                                            </ul>
                                        </div>
                                    </div>

                                    <!-- Apply Button -->
                                    <span class="list-apply-button ripple-effect">Принять</span>
                                </div>
                            </a>

                            <!-- Job Listing -->
                            <a href="single-job-page.html" class="job-listing with-apply-button">

                                <!-- Job Listing Details -->
                                <div class="job-listing-details">

                                    <!-- Logo -->
                                    <div class="job-listing-company-logo">
                                        <img src="~/Content/Custom/images/company-logo-01.png" alt="">
                                    </div>

                                    <!-- Details -->
                                    <div class="job-listing-description">
                                        <h3 class="job-listing-title">Сделать все по каефу ежжи</h3>

                                        <!-- Job Listing Footer -->
                                        <div class="job-listing-footer">
                                            <ul>
                                                <li><i class="icon-material-outline-business"></i> Илья <div class="verified-badge" title="Verified Employer" data-tippy-placement="top"></div></li>
                                                <li><i class="icon-material-outline-location-on"></i> Бесагон</li>
                                                <li><i class="icon-material-outline-business-center"></i> На фулл</li>
                                                <li><i class="icon-material-outline-access-time"></i> 2 дня назад</li>
                                            </ul>
                                        </div>
                                    </div>

                                    <!-- Apply Button -->
                                    <span class="list-apply-button ripple-effect">Принять</span>
                                </div>
                            </a>
                            <!-- Job Listing -->
                            <a href="single-job-page.html" class="job-listing with-apply-button">

                                <!-- Job Listing Details -->
                                <div class="job-listing-details">

                                    <!-- Logo -->
                                    <div class="job-listing-company-logo">
                                        <img src="~/Content/Custom/images/company-logo-01.png" alt="">
                                    </div>

                                    <!-- Details -->
                                    <div class="job-listing-description">
                                        <h3 class="job-listing-title">Сделать все по каефу ежжи</h3>

                                        <!-- Job Listing Footer -->
                                        <div class="job-listing-footer">
                                            <ul>
                                                <li><i class="icon-material-outline-business"></i> Илья <div class="verified-badge" title="Verified Employer" data-tippy-placement="top"></div></li>
                                                <li><i class="icon-material-outline-location-on"></i> Бесагон</li>
                                                <li><i class="icon-material-outline-business-center"></i> На фулл</li>
                                                <li><i class="icon-material-outline-access-time"></i> 2 дня назад</li>
                                            </ul>
                                        </div>
                                    </div>

                                    <!-- Apply Button -->
                                    <span class="list-apply-button ripple-effect">Принять</span>
                                </div>
                            </a>

                        </div>
                        <!-- Jobs Container / End -->

                    </div>
                </div>
            </div>
        </div>
        <!-- Featured Jobs / End -->
        <!-- Features Cities -->
        <div class="section margin-top-65 margin-bottom-65">
            <div class="container">
                <div class="row">

                    <!-- Section Headline -->
                    <div class="col-xl-12">
                        <div class="section-headline centered margin-top-0 margin-bottom-45">
                            <h3>Все наши сервисы</h3>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-6">
                        <!-- Photo Box -->
                        <a href="jobs-list-layout-1.html" class="photo-box" data-background-image="../Content/Custom/images/featured-city-01.jpg">
                            <div class="photo-box-content">
                                <h3>Биржа студентов</h3>
                                <span>376 работ</span>
                            </div>
                        </a>
                    </div>

                    <div class="col-xl-3 col-md-6">
                        <!-- Photo Box -->
                        <a href="jobs-list-layout-full-page-map.html" class="photo-box" data-background-image="../Content/Custom/images/featured-city-02.jpg">
                            <div class="photo-box-content">
                                <h3>Органайзер задач</h3>
                                <span>645 пользователей</span>
                            </div>
                        </a>
                    </div>

                    <div class="col-xl-3 col-md-6">
                        <!-- Photo Box -->
                        <a href="jobs-grid-layout-full-page.html" class="photo-box" data-background-image="../Content/Custom/images/featured-city-03.jpg">
                            <div class="photo-box-content">
                                <h3>Контроллер</h3>
                                <span>832 юзерофф</span>
                            </div>
                        </a>
                    </div>

                    <div class="col-xl-3 col-md-6">
                        <!-- Photo Box -->
                        <a href="jobs-list-layout-2.html" class="photo-box" data-background-image="../Content/Custom/images/featured-city-04.jpg">
                            <div class="photo-box-content">
                                <h3>Умный чат</h3>
                                <span>513 пользователей</span>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </div>
        <!-- Features Cities / End -->
        <!-- Highest Rated Freelancers -->
        <div class="section gray padding-top-65 padding-bottom-70 full-width-carousel-fix">
            <div class="container">
                <div class="row">

                    <div class="col-xl-12">
                        <!-- Section Headline -->
                        <div class="section-headline margin-top-0 margin-bottom-25">
                            <h3>Самые лучшие исполнители</h3>
                            <a href="freelancers-grid-layout.html" class="headline-link">Загрузить всех исполнителей</a>
                        </div>
                    </div>

                    <div class="col-xl-12">
                        <div class="default-slick-carousel freelancers-container freelancers-grid-layout">

                            <!--Freelancer -->
                            <div class="freelancer">

                                <!-- Overview -->
                                <div class="freelancer-overview">
                                    <div class="freelancer-overview-inner">

                                        <!-- Bookmark Icon -->
                                        <span class="bookmark-icon"></span>

                                        <!-- Avatar -->
                                        <div class="freelancer-avatar">
                                            <div class="verified-badge"></div>
                                            <a href="single-freelancer-profile.html"><img src="~/Content/Custom/images/user-avatar-big-01.jpg" alt=""></a>
                                        </div>

                                        <!-- Name -->
                                        <div class="freelancer-name">
                                            <h4><a href="single-freelancer-profile.html">Петька Петрофф <img class="flag" src="~/Content/Custom/images/flags/gb.svg" alt="" title="United Kingdom" data-tippy-placement="top"></a></h4>
                                            <span>Математик</span>
                                        </div>

                                        <!-- Rating -->
                                        <div class="freelancer-rating">
                                            <div class="star-rating" data-rating="5.0"></div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Details -->
                                <div class="freelancer-details">
                                    <div class="freelancer-details-list">
                                        <ul>
                                            <li>Локация <strong><i class="icon-material-outline-location-on"></i> Узбекистан</strong></li>
                                            <li>Ставка <strong>$60 / час</strong></li>
                                            <li>Хорошо делал работ <strong>95%</strong></li>
                                        </ul>
                                    </div>
                                    <a href="single-freelancer-profile.html" class="button button-sliding-icon ripple-effect">Глянуть<i class="icon-material-outline-arrow-right-alt"></i></a>
                                </div>
                            </div>
                            <!-- Freelancer / End -->
                            <!--Freelancer -->
                            <div class="freelancer">

                                <!-- Overview -->
                                <div class="freelancer-overview">
                                    <div class="freelancer-overview-inner">

                                        <!-- Bookmark Icon -->
                                        <span class="bookmark-icon"></span>

                                        <!-- Avatar -->
                                        <div class="freelancer-avatar">
                                            <div class="verified-badge"></div>
                                            <a href="single-freelancer-profile.html"><img src="~/Content/Custom/images/user-avatar-big-01.jpg" alt=""></a>
                                        </div>

                                        <!-- Name -->
                                        <div class="freelancer-name">
                                            <h4><a href="single-freelancer-profile.html">Петька Петрофф <img class="flag" src="~/Content/Custom/images/flags/gb.svg" alt="" title="United Kingdom" data-tippy-placement="top"></a></h4>
                                            <span>Математик</span>
                                        </div>

                                        <!-- Rating -->
                                        <div class="freelancer-rating">
                                            <div class="star-rating" data-rating="5.0"></div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Details -->
                                <div class="freelancer-details">
                                    <div class="freelancer-details-list">
                                        <ul>
                                            <li>Локация <strong><i class="icon-material-outline-location-on"></i> Узбекистан</strong></li>
                                            <li>Ставка <strong>$60 / час</strong></li>
                                            <li>Хорошо делал работ <strong>95%</strong></li>
                                        </ul>
                                    </div>
                                    <a href="single-freelancer-profile.html" class="button button-sliding-icon ripple-effect">Глянуть<i class="icon-material-outline-arrow-right-alt"></i></a>
                                </div>
                            </div>
                            <!-- Freelancer / End -->
                            <!--Freelancer -->
                            <div class="freelancer">

                                <!-- Overview -->
                                <div class="freelancer-overview">
                                    <div class="freelancer-overview-inner">

                                        <!-- Bookmark Icon -->
                                        <span class="bookmark-icon"></span>

                                        <!-- Avatar -->
                                        <div class="freelancer-avatar">
                                            <div class="verified-badge"></div>
                                            <a href="single-freelancer-profile.html"><img src="~/Content/Custom/images/user-avatar-big-01.jpg" alt=""></a>
                                        </div>

                                        <!-- Name -->
                                        <div class="freelancer-name">
                                            <h4><a href="single-freelancer-profile.html">Петька Петрофф <img class="flag" src="~/Content/Custom/images/flags/gb.svg" alt="" title="United Kingdom" data-tippy-placement="top"></a></h4>
                                            <span>Математик</span>
                                        </div>

                                        <!-- Rating -->
                                        <div class="freelancer-rating">
                                            <div class="star-rating" data-rating="5.0"></div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Details -->
                                <div class="freelancer-details">
                                    <div class="freelancer-details-list">
                                        <ul>
                                            <li>Локация <strong><i class="icon-material-outline-location-on"></i> Узбекистан</strong></li>
                                            <li>Ставка <strong>$60 / час</strong></li>
                                            <li>Хорошо делал работ <strong>95%</strong></li>
                                        </ul>
                                    </div>
                                    <a href="single-freelancer-profile.html" class="button button-sliding-icon ripple-effect">Глянуть<i class="icon-material-outline-arrow-right-alt"></i></a>
                                </div>
                            </div>
                            <!-- Freelancer / End -->
                            <!--Freelancer -->
                            <div class="freelancer">

                                <!-- Overview -->
                                <div class="freelancer-overview">
                                    <div class="freelancer-overview-inner">

                                        <!-- Bookmark Icon -->
                                        <span class="bookmark-icon"></span>

                                        <!-- Avatar -->
                                        <div class="freelancer-avatar">
                                            <div class="verified-badge"></div>
                                            <a href="single-freelancer-profile.html"><img src="~/Content/Custom/images/user-avatar-big-01.jpg" alt=""></a>
                                        </div>

                                        <!-- Name -->
                                        <div class="freelancer-name">
                                            <h4><a href="single-freelancer-profile.html">Петька Петрофф <img class="flag" src="~/Content/Custom/images/flags/gb.svg" alt="" title="United Kingdom" data-tippy-placement="top"></a></h4>
                                            <span>Математик</span>
                                        </div>

                                        <!-- Rating -->
                                        <div class="freelancer-rating">
                                            <div class="star-rating" data-rating="5.0"></div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Details -->
                                <div class="freelancer-details">
                                    <div class="freelancer-details-list">
                                        <ul>
                                            <li>Локация <strong><i class="icon-material-outline-location-on"></i> Узбекистан</strong></li>
                                            <li>Ставка <strong>$60 / час</strong></li>
                                            <li>Хорошо делал работ <strong>95%</strong></li>
                                        </ul>
                                    </div>
                                    <a href="single-freelancer-profile.html" class="button button-sliding-icon ripple-effect">Глянуть<i class="icon-material-outline-arrow-right-alt"></i></a>
                                </div>
                            </div>
                            <!-- Freelancer / End -->

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Highest Rated Freelancers / End-->
    
        <!-- Membership Plans / End-->
        <!-- Footer
        ================================================== -->
        <div id="footer">

            <!-- Footer Top Section -->
            <div class="footer-top-section">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">

                            <!-- Footer Rows Container -->
                            <div class="footer-rows-container">

                                <!-- Left Side -->
                                <div class="footer-rows-left">
                                    <div class="footer-row">
                                        <div class="footer-row-inner footer-logo">
                                            <img src="~/Content/Custom/images/logo2.png" alt="">
                                        </div>
                                    </div>
                                </div>

                                <!-- Right Side -->
                                <div class="footer-rows-right">

                                    <!-- Social Icons -->
                                    <div class="footer-row">
                                        <div class="footer-row-inner">
                                            <ul class="footer-social-links">
                                                <li>
                                                    <a href="#" title="Facebook" data-tippy-placement="bottom" data-tippy-theme="light">
                                                        <i class="icon-brand-facebook-f"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Twitter" data-tippy-placement="bottom" data-tippy-theme="light">
                                                        <i class="icon-brand-twitter"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Google Plus" data-tippy-placement="bottom" data-tippy-theme="light">
                                                        <i class="icon-brand-google-plus-g"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" title="LinkedIn" data-tippy-placement="bottom" data-tippy-theme="light">
                                                        <i class="icon-brand-linkedin-in"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>

                                    <!-- Language Switcher -->
                                    <div class="footer-row">
                                        <div class="footer-row-inner">
                                            <select class="selectpicker language-switcher" data-selected-text-format="count" data-size="5">
                                                <option selected>English</option>
                                                <option>Français</option>
                                                <option>Español</option>
                                                <option>Deutsch</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- Footer Rows Container / End -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer Top Section / End -->
            <!-- Footer Middle Section -->
            <div class="footer-middle-section">
                <div class="container">
                    <div class="row">

                        <!-- Links -->
                        <div class="col-xl-2 col-lg-2 col-md-3">
                            <div class="footer-links">
                                <h3>Для хомячков</h3>
                                <ul>
                                    <li><a href="#"><span>Рыба</span></a></li>
                                    <li><a href="#"><span>Рыба</span></a></li>
                                    <li><a href="#"><span>Рыба</span></a></li>
                                    <li><a href="#"><span>Рыба</span></a></li>
                                </ul>
                            </div>
                        </div>

                        <!-- Links -->
                        <div class="col-xl-2 col-lg-2 col-md-3">
                            <div class="footer-links">
                                <h3>Для мудакофф</h3>
                                <ul>
                                    <li><a href="#"><span>Рыба</span></a></li>
                                    <li><a href="#"><span>Рыба</span></a></li>
                                    <li><a href="#"><span>Рыба</span></a></li>
                                    <li><a href="#"><span>Рыба</span></a></li>
                                </ul>
                            </div>
                        </div>

                        <!-- Links -->
                        <div class="col-xl-2 col-lg-2 col-md-3">
                            <div class="footer-links">
                                <h3>Полезное</h3>
                                <ul>
                                    <li><a href="#"><span>Рыба</span></a></li>
                                    <li><a href="#"><span>Рыба</span></a></li>
                                    <li><a href="#"><span>Рыба</span></a></li>
                                </ul>
                            </div>
                        </div>

                        <!-- Links -->
                        <div class="col-xl-2 col-lg-2 col-md-3">
                            <div class="footer-links">
                                <h3>Аккаунт</h3>
                                <ul>
                                    <li><a href="#"><span>Войти</span></a></li>
                                    <li><a href="#"><span>Зарегаться</span></a></li>
                                </ul>
                            </div>
                        </div>

                        <!-- Newsletter -->
                        <div class="col-xl-4 col-lg-4 col-md-12">
                            <h3><i class="icon-feather-mail"></i> Подпишись чтобы получать новости</h3>
                            <p>Вместо скучного поиска будешь использовать веселый.</p>
                            <form action="#" method="get" class="newsletter">
                                <input type="text" name="fname" placeholder="Введите свою почту">
                                <button type="submit"><i class="icon-feather-arrow-right"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer Middle Section / End -->
            <!-- Footer Copyrights -->
            <div class="footer-bottom-section">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            © 2018 <strong>ФакАп</strong>. Все права в поряде.
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer Copyrights / End -->

        </div>
        <!-- Footer / End -->

   
    <!-- Wrapper / End -->
    <!-- Scripts
    ================================================== -->
  
        <!-- Google API & Maps -->
        <!-- Geting an API Key: https://developers.google.com/maps/documentation/javascript/get-api-key -->
        <script src="https://maps.googleapis.com/maps/api/js?key=&libraries=places"></script>

    </body>
