@using Microsoft.AspNet.Identity
@model HelpMe.Models.User

@{
    Layout = "~/Views/Shared/_LayoutDash.cshtml";
}

@{
    ViewBag.Title = "Рабочая доска";
}

<!-- Dashboard Sidebar
================================================== -->
<!-- Dashboard Sidebar / End -->
<!-- Dashboard Content
================================================== -->
<div class="dashboard-content-container" data-simplebar>
    <div class="dashboard-content-inner">

        <!-- Dashboard Headline -->
        <div class="dashboard-headline">
            <h3>Здравствуйте, @Model.UserName!</h3>
            <span>Рады приветствовать вас снова!</span>

            <!-- Breadcrumbs -->
            <nav id="breadcrumbs" class="dark">
                <ul>
                    <li><a href="#">Сообщения</a></li>
                    <li>Рабочая доска</li>
                </ul>
            </nav>
        </div>

        <!-- Fun Facts Container -->
        <div class="fun-facts-container">
            <div class="fun-fact" data-fun-fact-color="#36bd78">
                <div class="fun-fact-text">
                    <span>Задач сейчас</span>
                    <h4>22</h4>
                </div>
                <div class="fun-fact-icon"><i class="icon-material-outline-gavel"></i></div>
            </div>
            <div class="fun-fact" data-fun-fact-color="#b81b7f">
                <div class="fun-fact-text">
                    <span>Задач в работе</span>
                    <h4>4</h4>
                </div>
                <div class="fun-fact-icon"><i class="icon-material-outline-business-center"></i></div>
            </div>
            <div class="fun-fact" data-fun-fact-color="#2a41e6">
                <div class="fun-fact-text">
                    <span>Просмотров за месяц</span>
                    <h4>987</h4>
                </div>
                <div class="fun-fact-icon"><i class="icon-feather-trending-up"></i></div>
            </div>
            <div class="fun-fact" data-fun-fact-color="#efa80f">
                <div class="fun-fact-text">
                    <span>Отзывов</span>
                    <h4>28</h4>
                </div>
                <div class="fun-fact-icon"><i class="icon-material-outline-rate-review"></i></div>
            </div>

            <!-- Last one has to be hidden below 1600px, sorry :( -->
            <div class="fun-fact" data-fun-fact-color="#2a41e6">
                <div class="fun-fact-text">
                    <span>Просмотров за месяц</span>
                    <h4>987</h4>
                </div>
                <div class="fun-fact-icon"><i class="icon-feather-trending-up"></i></div>
            </div>
        </div>

        <!-- Row -->
        <div class="row">

            <div class="col-xl-8">
                <!-- Dashboard Box -->
                <div class="dashboard-box main-box-in-row">
                    <div class="headline">
                        <h3><i class="icon-feather-bar-chart-2"></i> Просмотры вашего профиля</h3>
                        <div class="sort-by">
                            <select class="selectpicker hide-tick">
                                <option>Последние 6 месяцев</option>
                                <option>За год</option>
                                <option>За месяц</option>
                            </select>
                        </div>
                    </div>
                    <div class="content">
                        <!-- Chart -->
                        <div class="chart">
                            <canvas id="chart" width="100" height="45"></canvas>
                        </div>
                    </div>
                </div>
                <!-- Dashboard Box / End -->
            </div>
            <div class="col-xl-4">

                <!-- Dashboard Box -->
                <!-- If you want adjust height of two boxes
                     add to the lower box 'main-box-in-row'
                     and 'child-box-in-row' to the higher box -->
                <div class="dashboard-box child-box-in-row">
                    <div class="headline">
                        <h3><i class="icon-material-outline-note-add"></i> Заметки для работы</h3>
                    </div>

                    <div class="content with-padding">
                        <!-- Note -->

                        @foreach (var note in Model.Notes)
                        {

                        <div class="dashboard-note">
                            <p>@note.Description</p>
                            <div class="note-footer">
                                <span class="note-priority high">Высокий приоритет</span>
                                <div class="note-buttons">
                                    <a href="#" title="Редактировать" data-tippy-placement="top"><i class="icon-feather-edit"></i></a>
                                    <a href="#" title="Удалить" data-tippy-placement="top"><i class="icon-feather-trash-2"></i></a>
                                </div>
                            </div>
                        </div>

                        }

                    </div>
                    <div class="add-note-button">
                        <a href="#small-dialog" class="popup-with-zoom-anim button full-width button-sliding-icon">Добавить заметку <i class="icon-material-outline-arrow-right-alt"></i></a>
                    </div>
                </div>
                <!-- Dashboard Box / End -->
            </div>
        </div>
        <!-- Row / End -->
        <!-- Row -->
        <div class="row">

            <!-- Dashboard Box -->
            <div class="col-xl-6">
                <div class="dashboard-box">
                    <div class="headline">
                        <h3><i class="icon-material-baseline-notifications-none"></i> Уведомления</h3>
                        <button class="mark-as-read ripple-effect-dark" data-tippy-placement="left" title="Отметить как прочитанное">
                            <i class="icon-feather-check-square"></i>
                        </button>
                    </div>
                    <div class="content">
                        <ul class="dashboard-box-list">
                            <li>
                                <span class="notification-icon"><i class="icon-material-outline-group"></i></span>
                                <span class="notification-text">
                                    <strong>Магамед Магамедович</strong> разместил заказ <a href="#">Решить быстро и не дорого</a>
                                </span>
                                <!-- Buttons -->
                                <div class="buttons-to-right">
                                    <a href="#" class="button ripple-effect ico" title="Пометить как прочитанное" data-tippy-placement="left"><i class="icon-feather-check-square"></i></a>
                                </div>
                            </li>
                            <li>
                                <span class="notification-icon"><i class=" icon-material-outline-gavel"></i></span>
                                <span class="notification-text">
                                    <strong>Гилберт анусов</strong> разместил задачу <a href="#">iOS App Development</a> project
                                </span>
                                <!-- Buttons -->
                                <div class="buttons-to-right">
                                    <a href="#" class="button ripple-effect ico" title="Пометить как прочитанное" data-tippy-placement="left"><i class="icon-feather-check-square"></i></a>
                                </div>
                            </li>
                            <li>
                                <span class="notification-icon"><i class="icon-material-outline-autorenew"></i></span>
                                <span class="notification-text">
                                    Ваша работа принята <a href="#">Логотип для шаурмяшной</a>
                                </span>
                                <!-- Buttons -->
                                <div class="buttons-to-right">
                                    <a href="#" class="button ripple-effect ico" title="Пометить как прочитанное" data-tippy-placement="left"><i class="icon-feather-check-square"></i></a>
                                </div>
                            </li>
                            <li>
                                <span class="notification-icon"><i class="icon-material-outline-group"></i></span>
                                <span class="notification-text">
                                    <strong>Андрей</strong> принял в работу <a href="#">Задача по математике</a>
                                </span>
                                <!-- Buttons -->
                                <div class="buttons-to-right">
                                    <a href="#" class="button ripple-effect ico" title="Пометить как прочитанное" data-tippy-placement="left"><i class="icon-feather-check-square"></i></a>
                                </div>
                            </li>
                            <li>
                                <span class="notification-icon"><i class="icon-material-outline-rate-review"></i></span>
                                <span class="notification-text">
                                    <strong>Давид</strong> указал, что вы <span class="star-rating no-stars" data-rating="5.0"></span> понижены в рейтинге <a href="#">Логотип</a>
                                </span>
                                <!-- Buttons -->
                                <div class="buttons-to-right">
                                    <a href="#" class="button ripple-effect ico" title="Пометить как прочитанное" data-tippy-placement="left"><i class="icon-feather-check-square"></i></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Dashboard Box -->
            <div class="col-xl-6">
                <div class="dashboard-box">
                    <div class="headline">
                        <h3><i class="icon-material-outline-assignment"></i>Статус заказов</h3>
                    </div>
                    <div class="content">
                        <ul class="dashboard-box-list">
                            <li>
                                <div class="invoice-list-item">
                                    <strong>Заказ №1</strong>
                                    <ul>
                                        <li><span class="unpaid">Неоплаченные</span></li>
                                        <li>Заказ номер: #326</li>
                                        <li>Дата: 12/08/2018</li>
                                    </ul>
                                </div>
                                <!-- Buttons -->
                                <div class="buttons-to-right">
                                    <a href="pages-checkout-page.html" class="button">Завершить оплату</a>
                                </div>
                            </li>
                            <li>
                                <div class="invoice-list-item">
                                    <strong>Заказ №2</strong>
                                    <ul>
                                        <li><span class="paid">Оплачено</span></li>
                                        <li>Заказ: #264</li>
                                        <li>Дата: 10/07/2018</li>
                                    </ul>
                                </div>
                                <!-- Buttons -->
                                <div class="buttons-to-right">
                                    <a href="pages-invoice-template.html" class="button gray">Посмотреть инвойс</a>
                                </div>
                            </li>
                            <li>
                                <div class="invoice-list-item">
                                    <strong>Заказ №3</strong>
                                    <ul>
                                        <li><span class="paid">Оплачено</span></li>
                                        <li>Заказ: #211</li>
                                        <li>Дата: 12/06/2018</li>
                                    </ul>
                                </div>
                                <!-- Buttons -->
                                <div class="buttons-to-right">
                                    <a href="pages-invoice-template.html" class="button gray">Посмотреть инвойс</a>
                                </div>
                            </li>
                            <li>
                                <div class="invoice-list-item">
                                    <strong>Заказ №4</strong>
                                    <ul>
                                        <li><span class="paid">Оплачено</span></li>
                                        <li>Заказ: #179</li>
                                        <li>Дата: 06/05/2018</li>
                                    </ul>
                                </div>
                                <!-- Buttons -->
                                <div class="buttons-to-right">
                                    <a href="pages-invoice-template.html" class="button gray">Посмотреть инвойс</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- Row / End -->
        <!-- Footer -->
        <div class="dashboard-footer-spacer"></div>
        <div class="small-footer margin-top-15">
            <div class="small-footer-copyrights">
                © 2018 <strong>ВоркАп</strong>. С правами все в порядке.
            </div>
            <ul class="footer-social-links">
                <li>
                    <a href="#" title="Facebook" data-tippy-placement="top">
                        <i class="icon-brand-facebook-f"></i>
                    </a>
                </li>
                <li>
                    <a href="#" title="Twitter" data-tippy-placement="top">
                        <i class="icon-brand-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="#" title="Google Plus" data-tippy-placement="top">
                        <i class="icon-brand-google-plus-g"></i>
                    </a>
                </li>
                <li>
                    <a href="#" title="LinkedIn" data-tippy-placement="top">
                        <i class="icon-brand-linkedin-in"></i>
                    </a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <!-- Footer / End -->

    </div>
</div>
<!-- Dashboard Content / End -->
<!-- Dashboard Container / End -->
<!-- Apply for a job popup
================================================== -->
<div id="small-dialog" class="zoom-anim-dialog mfp-hide dialog-with-tabs">

    <!--Tabs -->
    <div class="sign-in-form">

        <ul class="popup-tabs-nav">
            <li><a href="#tab">Добавить заметку</a></li>
        </ul>

        <div class="popup-tabs-container">
            @using (Html.BeginForm("Create", "Note", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <!-- Tab -->
                <div class="popup-tab-content" id="tab">

                    <!-- Welcome Text -->
                    <div class="welcome-text">
                        <h3>Не забывайте ничего! 😎</h3>
                    </div>

                        <select class="selectpicker with-border default margin-bottom-20" data-size="7" title="Приоритет">
                            <option>Назкий приоритет</option>
                            <option>Средний приоритет</option>
                            <option>Высокий приоритет</option>
                        </select>

                        <textarea id="Description" name="Description" cols="10" placeholder="Заметка" class="with-border"></textarea>

                    <button class="button full-width button-sliding-icon ripple-effect" type="submit">Добавить <i class="icon-material-outline-arrow-right-alt"></i></button>

                </div>
            }

            </div>
    </div>
</div>
<!-- Apply for a job popup / End -->
@section Scripts {
    <!-- Chart.js // documentation: http://www.chartjs.org/docs/latest/ -->
    <script src="~/Scripts/Custom/chart.min.js"></script>
    <script>
        Chart.defaults.global.defaultFontFamily = "Nunito";
        Chart.defaults.global.defaultFontColor = '#888';
        Chart.defaults.global.defaultFontSize = '14';

        var ctx = document.getElementById('chart').getContext('2d');

        var chart = new Chart(ctx, {
            type: 'line',

            // The data for our dataset
            data: {
                labels: ["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь"],
                // Information about the dataset
                datasets: [{
                    label: "Просмотры",
                    backgroundColor: 'rgba(42,65,232,0.08)',
                    borderColor: '#2a41e8',
                    borderWidth: "3",
                    data: [196, 132, 215, 362, 210, 252],
                    pointRadius: 5,
                    pointHoverRadius: 5,
                    pointHitRadius: 10,
                    pointBackgroundColor: "#fff",
                    pointHoverBackgroundColor: "#fff",
                    pointBorderWidth: "2",
                }]
            },

            // Configuration options
            options: {

                layout: {
                    padding: 10,
                },

                legend: { display: false },
                title: { display: false },

                scales: {
                    yAxes: [{
                        scaleLabel: {
                            display: false
                        },
                        gridLines: {
                            borderDash: [6, 10],
                            color: "#d8d8d8",
                            lineWidth: 1,
                        },
                    }],
                    xAxes: [{
                        scaleLabel: { display: false },
                        gridLines: { display: false },
                    }],
                },

                tooltips: {
                    backgroundColor: '#333',
                    titleFontSize: 13,
                    titleFontColor: '#fff',
                    bodyFontColor: '#fff',
                    bodyFontSize: 13,
                    displayColors: false,
                    xPadding: 10,
                    yPadding: 10,
                    intersect: false
                }
            },

        });

    </script>
}