@{
    Layout = "~/Views/Shared/_LayoutDash.cshtml";
}

@model IEnumerable<HelpMe.Models.Notification>

<div class="dashboard-content-container" data-simplebar>
    <div class="dashboard-content-inner">

        <div class="dashboard-headline">
            <h3>Уведомления</h3>

            <nav id="breadcrumbs" class="dark">
                <ul>
                    <li><a href="#">Главная</a></li>
                    <li><a href="#">Уведомления</a></li>
                </ul>
            </nav>
        </div>

        <div class="row">
            <div class="col-xl-12">
                <div class="dashboard-box">
                    <div class="headline">
                        <h3><i class="icon-material-baseline-notifications-none"></i> Уведомления</h3>
                        <button class="mark-as-read ripple-effect-dark" data-tippy-placement="left" title="Отметить как прочитанное">
                            <i class="icon-feather-check-square"></i>
                        </button>
                    </div>
                    <div class="content">
                        <ul class="dashboard-box-list">

                            @foreach (var i in Model) {
                                <li>
                                    <span class="notification-icon"><i class="icon-material-outline-group"></i></span>
                                    <span class="notification-text">
                                       @i.Description 
                                    </span>
                                    <!-- Buttons -->
                                    <div class="buttons-to-right">
                                        <a href="#" class="button ripple-effect ico" title="Пометить как прочитанное" data-tippy-placement="left"><i class="icon-feather-check-square"></i></a>
                                    </div>
                                </li>
                            }

                        </ul>
                    </div>
                </div>
            </div>

        </div>
      

    </div>
</div>
