@using PagedList
@{
    Layout = "~/Views/Shared/_LayoutDash.cshtml";
}
@model HelpMe.Models.ReviewDashModel

<!-- Dashboard Content
    ================================================== -->
<div class="dashboard-content-container" data-simplebar>
    <div class="dashboard-content-inner">

        <!-- Dashboard Headline -->
        <div class="dashboard-headline">
            <h3>Отзывы</h3>

            <!-- Breadcrumbs -->
            <nav id="breadcrumbs" class="dark">
                <ul>
                    <li><a href="#">Главный</a></li>
                    <li><a href="#">Отзывы</a></li>
                </ul>
            </nav>
        </div>

        <!-- Row -->
        <div class="row">

            <!-- Dashboard Box -->
            <div class="col-xl-6">
                <div class="dashboard-box margin-top-0">

                    <!-- Headline -->
                    <div class="headline">
                        <h3><i class="icon-material-outline-business"></i> Мои отзывы</h3>
                        <div class="sort-by">
                            <select class="selectpicker hide-tick" id="sortReviews" autocomplete="off">
                                <option value="1" selected>Новые</option>
                                <option value="2">Давние</option>
                                <option value="3">По рейтингу</option>
                            </select>
                        </div>
                    </div>

                    <div class="content">
                        <ul class="dashboard-box-list reviews-about-me">
                            @if (Model.Reviews.Count() > 0)
                            {
                                @Html.Partial("_ReviewsReviewsPage", Model.Reviews.OrderByDescending(c => c.Date).ToPagedList(
                                    (int)Session["ReviewsPage"], (int)Session["ReviewsPageSize"]));
                            }
                            else
                            {
                                <li>Вы еще не оставляли отзывов...</li>
                            }
                        </ul>
                    </div>
                </div>

            </div>

            <!-- Dashboard Box -->
            <div class="col-xl-6">
                <div class="dashboard-box margin-top-0 ">

                    <!-- Headline -->
                    <div class="headline">
                        <h3><i class="icon-material-outline-face"></i>Отзывы обо мне</h3>
                        <div class="sort-by">
                            <select class="selectpicker hide-tick" id="sortMyReviews" autocomplete="off">
                                <option value="1" selected>Новые</option>
                                <option value="2">Давние</option>
                                <option value="3">По рейтингу</option>
                            </select>
                        </div>
                    </div>

                    <div class="content">
                        <ul class="dashboard-box-list my-reviews">
                            @if (Model.MyReviews.Count() > 0)
                            {
                                @Html.Partial("_ReviewsMyReviewsPage", Model.MyReviews.OrderByDescending(c => c.Date).ToPagedList(
                                    (int)Session["MyReviewsPage"], (int)Session["MyReviewsPageSize"]));
                            }
                            else
                            {
                                <li>У Вас еще нет отзывов...</li>
                            }
                        </ul>
                    </div>
                </div>
            </div>


        </div>
        <!-- Row / End -->
        <!-- Footer -->
        <div class="dashboard-footer-spacer"></div>
        <div class="small-footer margin-top-15">
            <div class="small-footer-copyrights">
                © 2019 <strong>Воцап №2</strong>. Все права вертел я.
            </div>
            <ul class="footer-social-links">
                <li>
                    <a href="#" title="Facebook" data-tippy-placement="top">
                        <i class="icon-brand-facebook-f"></i>
                    </a>
                </li>
                <li>
                    <a href="#" title="Twitter" data-tippy-placement="top">
                        <i class="icon-brand-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="#" title="Google Plus" data-tippy-placement="top">
                        <i class="icon-brand-google-plus-g"></i>
                    </a>
                </li>
                <li>
                    <a href="#" title="LinkedIn" data-tippy-placement="top">
                        <i class="icon-brand-linkedin-in"></i>
                    </a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <!-- Footer / End -->

    </div>
</div>

@section Scripts{
    <script type="text/javascript">

        function ChangeUrl(page, url) {
            if (typeof (history.pushState) != "undefined") {
                var obj = { Page: page, Url: url };
                history.pushState(null, obj.Page, obj.Url);
            } else {
                alert("Browser does not support HTML5.");
            }
        }

        $('body').on('click', '.dashboard-box-list.my-reviews .pagination a', function (event) {
            event.preventDefault();
            //console.log('page');
            var url = $(this).attr('href');
            //console.log(url);
            $.ajax({
                url: url,
                data: {

                },
                success: function (result) {
                    ChangeUrl('index', url);
                    $('.dashboard-box-list.my-reviews').html(result);
                    starRating('.dashboard-box-list.my-reviews .star-rating');
                }
            });
        });

        $('body').on('click', '.dashboard-box-list.reviews-about-me .pagination a', function (event) {
            event.preventDefault();
            //console.log('page');
            var url = $(this).attr('href');
            //console.log(url);
            $.ajax({
                url: url,
                data: {

                },
                success: function (result) {
                    ChangeUrl('index', url);
                    $('.dashboard-box-list.reviews-about-me').html(result);
                    starRating('.dashboard-box-list.reviews-about-me .star-rating');
                }
            });
        });


        $('#sortMyReviews').on('change', function () {
            var sortType = $(this).val();
            $(".dashboard-box-list.my-reviews").load('@Url.Action("Reviews", "Manage")?myReviewsSortSelected=true&myReviewsSortType=' + sortType);

            //var sortingType = $(this).val();
            ////console.log('sortingType = '+sortingType);
            //var initialComments = $('.my-reviews');
            //var sortedComments;

            //switch (sortingType) {
            //    case '2'://по давним
            //        //console.log('sortComments = по давним');
            //        sortedComments = initialComments.sort(function (a, b) {
            //            var first = $(a).find('.date-of-my-review').text();
            //            var second = $(b).find('.date-of-my-review').text();
            //            return (first < second) ? -1 : (first > second) ? 1 : 0;
            //        });
            //        break;


            //    case '3'://по рейтингу
            //        //console.log('sortComments = по рейтингу');
            //        sortedComments = initialComments.sort(function (a, b) {
            //            var firstDiv = $(a).find('.star-rating').data('rating');
            //            var secondDiv = $(b).find('.star-rating').data('rating');
            //            return (firstDiv > secondDiv) ? -1 : (firstDiv < secondDiv) ? 1 : 0;
            //        });
            //        break;

            //    default://по дате отзыва (по умолчанию)
            //        //console.log('sortComments = по дате отзыва');
            //        sortedComments = initialComments.sort(function (a, b) {
            //            var first = $(a).find('.date-of-my-review').text();
            //            var second = $(b).find('.date-of-my-review').text();
            //            return (first > second) ? -1 : (first < second) ? 1 : 0;
            //        });
            //        break;
            //}
            //$('.dashboard-box-list.my-reviews').append(sortedComments);
        });


        $('#sortReviews').on('change', function () {
            var sortType = $(this).val();
            $(".dashboard-box-list.reviews-about-me").load('@Url.Action("Reviews", "Manage")?reviewsSortSelected=true&reviewsSortType=' + sortType);

            //var sortingType = $(this).val();
            ////console.log('sortingType = '+sortingType);
            //var initialComments = $('.reviews-about-me');
            //var sortedComments;

            //switch (sortingType) {
            //    case '2'://по давним
            //        //console.log('sortComments = по давним');
            //        sortedComments = initialComments.sort(function (a, b) {
            //            var first = $(a).find('.date-of-review').text();
            //            var second = $(b).find('.date-of-review').text();
            //            return (first < second) ? -1 : (first > second) ? 1 : 0;
            //        });
            //        break;

            //    case '3'://по рейтингу
            //        //console.log('sortComments = по рейтингу');
            //        sortedComments = initialComments.sort(function (a, b) {
            //            var firstDiv = $(a).find('.star-rating').data('rating');
            //            var secondDiv = $(b).find('.star-rating').data('rating');
            //            return (firstDiv > secondDiv) ? -1 : (firstDiv < secondDiv) ? 1 : 0;
            //        });
            //        break;

            //    default://по новым (по умолчанию)
            //        //console.log('sortComments = по дате отзыва');
            //        sortedComments = initialComments.sort(function (a, b) {
            //            var first = $(a).find('.date-of-review').text();
            //            var second = $(b).find('.date-of-review').text();
            //            return (first > second) ? -1 : (first < second) ? 1 : 0;
            //        });
            //        break;
            //}
            //$('.dashboard-box-list.reviews-about-me').append(sortedComments);
        });
    </script>
}